header{
    background-image: linear-gradient(180deg,rgb(19,67,65)0%,rgb(225,255,160)100%);
}

/*nav-section*/

nav{
 display:flex;
 justify-content:space-between;
 padding:40px;
 color:white;
}

.nav-start{
    font-size: 30px;
    font-weight: 900;
    opacity: 100%;
}
.nav-middle{
    display:flex;
}
ol{
    display:flex;
    padding:10px;
}
.header-a{
    padding:5px 20px;
    text-decoration: none;
    font-weight:100px;
    color:white;
}
.header-a:hover {
    color: #000000ff;
    background-color: #00000019;
   }
   
.nav-end {
    display: inline-block;
    padding: 10px 20px;
    border: 1.7px solid;
    border-radius: 10px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    font-weight:540;
    z-index: 1;
   }
   
   .nav-end:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
   }
   
   .nav-end:after {
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: black;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
   }
   
   .nav-end:hover {
    color: white;
    border: 1.7px solid white;
   }
   
   .nav-end:hover:before {
    top: -35%;
    background-color: black;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }
   
   .nav-end:hover:after {
    top: -45%;
    background-color: black;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }

   /*information section*/

.info-section{
    display:flex;
    flex-direction:column;
    gap:80px;
    color:white;
}
.info-section-details{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:30px;
    padding-top:100px;
}

.section-heading{
    font-size:56px;
    font-weight:800;
    font-family: 'Poppins', sans-serif;
    text-align:center;
}
.section-middle{
    width:65%;
    text-align:center;
}

   .cssbuttons-io-button {
    width:300px;
    text-align:center;
    background: black;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em black;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
  }
  
  .cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em black;
    right: 0.3em;
    transition: all 0.3s;
  }
  
  .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
  }
  
  .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: black;
  }
  
  .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
  }
  
  .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
  }
  

.shop{
   display:flex;
   justify-content:center;
}
.image-shop{
    width:70%;
    border-radius:13px 13px 0px 0px;
   }