.hero-section{
    background-color: #0C231F;
    color:white;
}

/*heading of the article*/

.header-two{ 
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:90px;
    gap:25px;
}
.hero-header{
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
}
.hero-short-passage{
    font-size:20px;
    font-weight:300;
    text-align:center;
    line-height:30px;
    width:45%;
}

/*content of the article */

.hero-content{
    padding:0px 90px 90px 90px;
    display:flex;   
}
.content-div{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    gap:30px;
}
.content-logo{
    width:60px;
    height:60px;
    image-resolution: inherit;
    color: inherit;
}
.content-header{
    font-size:20px;
    font-weight:900;
}
.content-passage{
    font-size: 14px;
    font-weight:400;
    width:60%;
    line-height: 24px;
    text-align: center;
}
.line{
    border-left: 2px solid white;
}



