/*font-styles*/

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

/*other css files imports*/

@import url("section/header.css");
@import url("section/hero.css");
@import url("section/discover.css");
@import url("section/aboutus.css");
@import url("section/footer.css");

/*css color*/

:root{
  --primary-color:black;
  --secoundery-color:white;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior:smooth;
  }
  
  body {
    margin:0 auto;
    font-family: 'Lato', sans-serif;
  }
  
  




